body
{
	width: 100%;
	min-height: 100vh;
	margin: 0;
	overflow-y: auto;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}