body
{
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	overflow-y: auto;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

a
{
	text-decoration: none;
	color: inherit;
}

header
{
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .brand
{
	font-size: 1.5rem;
}

header .links_container
{
	display: flex;
}

header .links_container a
{
	padding: 0.25rem 0.5rem;
	margin: 0 1rem;
	font-size: 1.25rem;
}